<h1> Home </h1>

<h3>Create Schedule</h3>
<%= form_for @schedule do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	<%= f.label "name" %>
	<%= f.text_field :name %>

	<%= f.submit %>
<% end %>

<h3>Create Time Periods</h3>

<%= form_for :time_slots, {url: time_slots_path } do |f| %>
	
	<%= collection_select(:schedules, :schedule_id, @user_schedules, :id, :name) %>

	<%= label_tag "Set lowest common period" %>
	<%= f.number_field :period, {value: 60, within: (15..120)} %>

	<%= label_tag "Start Time(minutes from midnight)" %>
	<%= f.number_field :start_time, {value: 480, within: (0..1440)} %>

	<%= label_tag "End Time(minutes from midnight)" %>
	<%= f.number_field :end_time, {value: 1080, within: (0..1440)} %>


	<% days_to_value = Date::DAYNAMES.each_with_index.map{|x,i| [x,i]} %>

	<%= label_tag "Start day" %>
	<%= f.select :start_day, days_to_value, {selected: 1}  %>

	<%= label_tag "End day" %>
	<%= f.select :end_day, days_to_value, {selected: 5 } %>

	<%= submit_tag "Create Periods" %>
<% end%>